* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header styling */

header {
    width: 100%;
    position: fixed;
    z-index: 50;
    background-color: #ffffff;
    /* box-shadow: 1px 1px 5px 1px#E1E1E16E; */
}


nav {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

nav ul {
    display: flex;
    align-items: center;
    column-gap: 50px;
    border-right: 1px solid grey;
    padding: 5px 30px 5px 0;
}

nav ul li {
    list-style: none;
    font-family: 'Manrope';
    font-size: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #1E1B1B;
    font-family: 'Manrope';
}

nav .right-contact {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

nav .right-contact .right-contact-icon:hover {
    background-color: green;
}

nav .right-contact .right-contact-text .number {
    font-weight: 600;
}

nav .right-contact .right-contact-text a {
    text-decoration: none;
    color: #1E1B1B;
}

/* global styling */
nav ul li a h5 {
    font-weight: 600;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 14px 10px;
    margin: auto;
    background-color: #ffffff;
}

.parent-flex {
    height: 100vh;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    height: 80%;
    width: 80%;
    display: flex;
}

.left {
    width: 50%;
    height: 100%;
}

.right {
    width: 50%;
    height: 100%;
}

h1 {
    font-family: Manrope;
    font-size: 50px;
    font-weight: 800;
    line-height: 84px;
    letter-spacing: -0.03em;
    color: #1E1B1B;
}

h2 {
    font-family: Manrope;
    font-size: 34px;
}

h3 {
    font-family: Manrope;
}

h4 {
    font-family: Manrope;
}

h5 {
    font-family: Manrope;
    font-weight: 500;
} 

h6 {
    font-family: Manrope;
}

p {
    font-family: Manrope;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.01em;
    /* text-align: center; */
}

.service-left {
    margin-top: 20px;
}

.service-left-left {
    display: flex;
    column-gap: 10px;
    margin-bottom: 25px;
    /* background-color: aqua; */
}

.service-left-left-description h4 {
    margin-bottom: 10px;
    padding-top: 5px;
}

.service-left-left-description h5 {
    width: 51%;
}

.know-more a {
    text-decoration: none;
    color: #000000;
}


form {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

input {
    width: 90%;
    height: 50px;
    margin-bottom: 5px;
    border: white;
    padding: 0 30px;
}

.icon {
    background-color: #61C3A1;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    display: flex;
    align-items: center;
}

.btn button {
    color: white;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    background-color: #FF6433;
    border-radius: 10px;
    border: none;
    padding: 5px 36px 5px 36px;
    margin-top: 20px;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
}

.btn button:hover {
    background-color: #e94615;
    /* transform: rotate(90deg); */
    transform: scale(1.03);
    /* color: #939191; */
    /* border-radius: 50%; */
}

.row-1 {
    display: flex;
    gap: 20px;
}

.item-2 {
    padding: 10px 0 10px 25px;
}

.items {
    display: flex;
    flex-direction: column;
}

.content h5 {
    width: 65%;
    margin-top: 15px;
    font-size: 15px;
    line-height: 25px;
}

.content h3 {
    padding-top: 12px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
}

.card:hover {
    transform: scale(1.03);
}

.symbol-1 {
    font-size: 30px;
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.box-row button {
    padding: 8px 15px 8px 15px;
    border-radius: 0;
    background-color: #FF6433;
    border: none;
    color: #ffffff;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
}

.box-row button:hover {
    background-color: #e94615;
    transform: scale(1.03);
}

.box-row {
    display: flex;
    justify-content: space-between;
}

.first-row {
    height: 80%;
    width: 100%;
    display: flex;
}

.second-row {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: #f2f2f2;
}

.learn-left a {
    text-decoration: none;
    color: #000000;
}

/* end of global styling */

/* main styling */

main .container .left-text {
    /* width: 50%;
    height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .container .left-text .content {
    width: 80%;
}

main .container .left-text .content h1 {
    text-align: left;
}

main .container .time-left {
    display: flex;
    align-items: center;
    margin-top: 30px;
    column-gap: 10px;
}

main .container .time-left .time-right-up {
    color: #d0cfcf;
    font-weight: 600;
    margin-bottom: 5px;
}

main .container .time-left .time-right-down {
    font-weight: 600;
}


main .container .right-img {
    background-image: url('../images/Image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

main .container .right-img .right-img-all {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -5%;
    top: 90px;
    width: 280px;
    height: 90px;
    border-radius: 50px;
    background-color: #E1E1E16E;
    box-shadow: 1px 1px 1px 1px #E1E1E16E;
}

main .container .right-img .right-img-up {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
    left: -5%;
    top: 90px;
    width: 265px;
    height: 75px;
    border-radius: 50px;
    background-color: #ffffff;
    column-gap: 35px;
}

main .container .right-img .right-img-up .right-img-up-left {
    font-family: Manrope;
    font-size: 16px;
    color: #ffffff;
}

main .container .right-img .right-img-up-left {
    border-radius: 100%;
    padding: 12px 10px;
    background-color: #5CBA99;
    color: #ffffff;
}

main .container .right-img .right-img-up .right-img-up-right {
    font-family: Manrope;
    /* font-weight: 510; */
    font-size: 16px;
    color: black;
}

main .container .right-img .right-img-down  {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -5%;
    bottom: 90px;
    width: 250px;
    height: 90px;
    border-radius: 50px;
    background-color: #E1E1E16E;
    box-shadow: 1px 1px 1px 1px #E1E1E16E;
}

main .container .right-img .right-img-down-all {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    right: -5%;
    bottom: 90px;
    width: 235px;
    height: 75px;
    border-radius: 50px;
    background-color: #ffffff;
    /* column-gap: 10px; */
}

main .container .right-img .right-img-down-all .right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}

main .container .right-img .right-img-down-all .flex .flex-1 {
    font-family: Manrope;
    font-weight: 600;
    font-size: 16px;
    color: black;
}

main .container .right-img .right-img-down-all .flex .flex-2 {
    font-family: Manrope;
    font-size: 12px;
    color: black;
}

/* car-serving section */
.car-service-bg {
    background-color: #e2e6e9;
}

#car-servicing .container .left h1 {
    margin-bottom: 30px;
    font-size: 50px;
}

#car-servicing .service-left .service-left-left .service-left-left-icon {
    background-color: #ffffff;
}

#car-servicing .service-left .service-left-left .service-left-left-icon:hover {
    background-color: #9b9595a1;
}

#car-servicing .know-more {
    display: flex;
    padding: 0 40px;
    column-gap: 15px;
    margin-top: 25px;
}

#car-servicing .know-more .know-more-left h5 {
    font-weight: 600;
}

#car-servicing .know-more .know-more-right {
    font-size: 25px;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
}

#car-servicing .know-more .know-more-right:hover {
    transform: scale(1.15);
}

#car-servicing .right h2 {
    font-family: Manrope;
    font-size: 35px;
    font-weight: 600;
    line-height: 84px;
    letter-spacing: -0.03em;
    width: 80%;
} 

/* get a quote */

#get-a-quote {
    height: 70vh;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#get-a-quote .container {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#get-a-quote .container .btn button {
    font-size: 12px;
}

#get-a-quote .container .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#get-a-quote .container .left h1 {
    font-size: 50px;
    width: 80%;
}

#get-a-quote .container .left h5 {
    width: 60%;
    margin: 5px 0;
}

#get-a-quote .container .right {
    width: 50%;
    height: 100%;
    padding-left: 120px;
}


/* what-we-offer section */
#what-we-offer {
    background-color: #f2f2f2;
}

#what-we-offer .contents {
    width: 100%;
    text-align: center;
}

#what-we-offer .contents h5 {
    font-family: manrope;
    font-weight: 600;
}

#what-we-offer .container .contents .offer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#what-we-offer .container .contents h1 {
    font-size: 50px;
    width: 60%;
    margin-bottom: 20px;
}

#what-we-offer .container .contents .what-we-offer-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

#what-we-offer .container .contents .what-we-offer-cards .card {
    background-color: white;
    height: 180px;
    width: 270px;
}

#what-we-offer .container .contents .what-we-offer-cards .card-3 {
    background-color: #FF6433;
}

#what-we-offer .learn {
    display: flex;
    column-gap: 10px;
    padding-left: 925px;
}

#what-we-offer .learn .learn-left h5 {
    font-weight: 600;
}

#what-we-offer .learn .learn-right {
    font-size: 20px;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
}

#what-we-offer .learn .learn-right:hover {
    transform: scale(1.15);
}


/* get in touch */
#get-in-touch {
    height: 70vh;
    width: 100%;
}

#get-in-touch .first-row .left-car {
    width: 50%;
    height: 100%;
    background-image: url('../images/car-left.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}

#get-in-touch .first-row .left-car .left-car-card {
    height: 100%;
    width: 70%;
    background-color: #ff6433;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}

#get-in-touch .first-row .left-car .left-car-card .btn button {
    font-size: 12px;
}

#get-in-touch .first-row .left-car .left-car-card .content h2 {
    color: #ffffff;
}

#get-in-touch .first-row .left-car .left-car-card .content button {
    background-color: #000000;
}

#get-in-touch .first-row .right-car {
    width: 50%;
    height: 100%;
    background-image: url('../images/car-right.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#get-in-touch .second-row .container {
    width: 80%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    column-gap: 10.5em;
}

#get-in-touch .second-row .container .professional {
    display: flex;
    column-gap: 11em;
}

#get-in-touch .second-row .container .customer {
    display: flex;
    column-gap: 11em;
}

#get-in-touch .second-row .container .one h1 {
    color: #661ce7;
    font-size: 30px;
}

#get-in-touch .second-row .container .one h4 {
    color: #1E1B1B;
    font-size: 20px;
}

/* brand */

#brand {
    height: 50vh;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#brand h2 {
    text-align: center;
    margin-bottom: 30px;
}

#brand .brand-main .item-one {
    /* margin-bottom: 30px; */
}

#brand .brand-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#brand .brand-main .brand-items {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

#brand .brand-main .brand-items .div-1 {
    display: flex;
}

#brand .brand-main .brand-items .div-2 {
    display: flex;
}

#brand .brand-main .item-5 .div-1 {
    display: flex;
    flex-direction: column;
}

/* about our service */
#about-our-service {
    width: 100%;
    height: 100vh;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-our-service h2 {
    text-align: center;
    width: 45%;
    margin-bottom: 50px;
}

#about-our-service .container {
    height: 50%;
    column-gap: 30px;
}

#about-our-service .container .left {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-our-service .container .left .top {
    display: flex;
    gap: 10px;
    padding-right: 230px;
    /* padding-left: 100px; */
}

#about-our-service .container .left .top .right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about-our-service .container .left .top .right-content h5 {
    font-weight: 600;
}

#about-our-service .container .left .top .right-content h6 {
    color: #939191;
}

#about-our-service .container .left .bottom {
    width: 70%;
    margin-top: 20px;
    /* padding-left: 100px; */
}

#about-our-service .container .left .bottom h5 {
    font-weight: 600;
    line-height: 40px;
    font-size: 18px;
}

#about-our-service .base {
    display: flex;
}

#about-our-service .base .scroll {
    display: flex;
    margin-top: 30px;
    gap: 10px;
    padding: 0 0 0 80px;
}

#about-our-service .base .scroll .scroll-1 {
    height: 3px;
    width: 25px;
    background-color: #939191;
}

#about-our-service .base .scroll .scroll-3 {
    background-color: #FF6433;
}

#about-our-service .base .two-arrows {
    display: flex;
    padding-left: 160%;
    padding-top: 10px;
}

#about-our-service .base .two-arrows .arrow-1 {
    background-color: #ffffff;
    border-radius: 50%;
    padding: 8px 10px;
    font-size: 15px;
}

#about-our-service .base .two-arrows .arrow-2 {
    background-color: #000000;
}

/* questions */
#questions {
    height: 100vh;
    width: 100%;
    background-color: #E2E6E9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#questions h2 {
    text-align: center;
}

#questions .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 10px;
}

#questions .box .box-1 {
    height: 150px;
    width: 60%;
    background-color: #ffffff;
    padding: 25px;
}

#questions .box .box-1 .box-row h5 {
    font-weight: 600;
    /* font-size: 15px; */
    font-size: 18px;
}

#questions .box .box-1 h6 {
    margin-top: 10px;
    font-weight: 200;
    width: 73%;
    color: #939191;
    line-height: 18px;
    font-size: 12px;
}

#questions .box .box-2 {
    height: 80px;
    width: 60%;
    background-color: #ffffff;
    padding: 25px;
}


/* footer section */
#footer-section {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #222020;
}

#footer-section .first-row  {
    background-color: #222020;
    justify-content: center;
    align-items: center;
}

#footer-section .first-row .container {
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

#footer-section .first-row .container .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -90px;
}

#footer-section .first-row .container .left h2 {
    color: #ffffff;
    width: 100%;
}

#footer-section .first-row .container .left .media {
    display: flex;
    margin-top: 40px;
    column-gap: 20px;
}

#footer-section .first-row .container .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer-section .first-row .container .right h6 {
    color: #979696;
    font-weight: 200;
    margin-bottom: 10px;
}

#footer-section .first-row .container .right h5 {
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 30px;
}

#footer-section .second-row {
    background-color: #1e1b1b;
}

#footer-section .header-container {
    background-color: #1e1b1b;
    width: 100%;
}

#footer-section .second-row .base-footer nav ul {
    border: none;
    /* padding-right: 20px; */
}

#footer-section .second-row .base-footer nav ul li a {
    text-decoration: none;
    color: #ffffff;
    border: none;
    font-family: 'Manrope';
}

#footer-section .second-row .base-footer {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

#footer-section .second-row .base-footer .copyright {
    font-family: 'Manrope';
    font-size: 15px;
    color: #888686;
}

.footer-bg {
    background-color: black;
}

/* responsiveness for tablet */
@media screen and (min-width: 425px) and (max-width: 850px) {
    .parent-flex {
        height: auto;
    }

    main .container {
        flex-direction: column;
    }

    .container {
        width: 100%;
        padding: 20px 10px;
        row-gap: 20px;
        height: auto;
    }

    .left,
    .right {
        width: 100%;
    }

    .btn button {
        padding: 8px 20px;
        margin-top: 15px;
        font-size: 15px;
    }

    /* end of global styling */

    header {
        z-index: 500;
    }

    .header-container {
        padding: 10px;
        flex-direction: column;
        padding-left: 30px;
    }

    .header-container .right-contact .icon {
        font-size: 20px;
        padding: 18px;
    }

    .header-container .logo img {
        width: 100%;
    }
  
    header h1 {
      font-size: 22px;
    }
  
    nav {
      flex-direction: column;
    }
  
    nav ul {
      column-gap: 30px;
      border: none;
    }

    nav ul li {
      font-size: 20px;
    }

    nav .right-contact .right-contact-icon {
      width: 22px;
      height: 22px;
    }
  
    nav .right-contact .right-contact-icon .icon {
      font-size: 15px;
    }
  
    nav .right-contact .right-contact-text h5 {
      font-size: 20px;
    }

    main {
        position: relative;
    }
    
    main .container .right-img {
        height: 70vh;
    }

    main .container .main-left {
        position: absolute;
        z-index: 100;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        width: 95%;
        padding: 0 30px;
    }

    main .container .main-left .content {
        padding-top: 20%;
    }

    main .container .main-left .content h1 {
        font-size: 60px;
        color: #ffffff;
        text-align: left;
    }

    main .container .time-left .time-right-up {
        color: #ffffff;
    }

    main .container .time-left .time-right-down {
        color: #ffffff;
    }

    main .container .right-img .right-img-all {
        display: none;
    }

    main .container .right-img .right-img-down {
        display: none;
    }

    /* car servicing */
    #car-servicing .container {
        flex-direction: column;
    }

    #car-servicing .container .left h1 {
        font-size: 50px;
        width: 100%;
    }

    #car-servicing .container .left .service-row-1 {
        display: flex;
        column-gap: 10px;
        margin-top: -20px;
    }

    #car-servicing .container .left .service-row-1 .service-left .service-left-left .service-left-left-icon {
        font-size: 25px;
        padding: 20px;
    }

    #car-servicing .container .left .service-row-1 .service-left .service-left-left-description h4 {
        font-size: 25px;

    }

    #car-servicing .container .left .service-row-1 .service-left .service-left-left-description h5 {
        width: 100%;
        font-size: 20px;
    } 

    #car-servicing .container .left .service-row-2 .service-left .service-left-left-description h5 {
        width: 100%;
        font-size: 20px;
    }

    #car-servicing .container .left .service-row-2 .know-more {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #car-servicing .container .left .service-row-2 .know-more .know-more-left h5 {
        font-size: 20px;
    }

    #car-servicing .container .right {
        margin-top: -10px;
    }

    #car-servicing .container .right h2 {
        font-size: 40px;
        width: 100%;
    }

    #car-servicing .container .right input {
        width: 100%;
    }

    #car-servicing .container .right .btn {
        /* justify-content: center; */
        align-items: center;
        margin-bottom: 20px;
    }

    /* get-a-quote */

    #get-a-quote .container {
        flex-direction: column;
        width: 100%;
    }

    
    #get-a-quote .container .left {
        display: flex;
    }
    
    #get-a-quote .container .left h1 {
        font-size: 50px;
        width: 70%;
        /* text-align: center; */
    }
    
    #get-a-quote .container .left h5 {
        font-size: 20px;
        width: 70%;
        /* text-align: center; */
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    #get-a-quote .container .btn button {
        padding: 8px 20px;
        margin-top: 15px;
        font-size: 15px;
    }

    #get-a-quote .container .right {
        width: 100%;
        padding-left: 0;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #get-a-quote .container .right .content h3 {
        font-size: 25px;
    }

    #get-a-quote .container .right .content h5 {
        width: 100%;
        font-size: 20px;
        line-height: 35px;
    }
    
    /* what we offer */

    #what-we-offer .container .contents h5 {
        margin-top: 30px;
    }

    #what-we-offer .container .offer h1 {
        font-size: 50px;
        width: 80%;
    }

    #what-we-offer .container .contents .what-we-offer-cards {
        gap: 5px;
    }

    #what-we-offer .container .contents .what-we-offer-cards .card {
        background-color: white;
        height: 200px;
        width: 350px;
    }

    #what-we-offer .container .contents .what-we-offer-cards .card h4 {
        font-size: 20px;
    }

    #what-we-offer .learn {
        margin: 20px 0;
        padding: 0;
    }

    /* get in touch */
  
    #get-in-touch {
        height: auto;
    }
    
      #get-in-touch .first-row {
        flex-direction: column;
        height: auto;
    }
    
    #get-in-touch .first-row .left-car {
        width: 100%;
        height: 30vh;
    }
    
    #get-in-touch .first-row .right-car {
        height: 30vh;
        width: 100%;
    }
    
    #get-in-touch .second-row {
        display: flex;
        height: auto;
    }
    
    #get-in-touch .second-row .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        column-gap: 50px;
        margin-bottom: 30px;
    }

    #get-in-touch .second-row .container .one {
        text-align: center;
    }
  
    #get-in-touch .second-row .container .one h4 {
        font-size: 20px;
    }
    
    #get-in-touch .second-row .container .one h1 {
        font-size: 25px;
    }

    /* brand */

    #brand {
        height: auto;
    }

    #brand h2 {
        margin-top: 40px;
    }
      
    #brand .brand-main {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
    }
    
    #brand .brand-main .brand-items {
        display: flex;
        flex-direction: column;
    }
    
    #brand .brand-main .brand-items .div-1 {
        display: flex;
        margin-top: -30px;
    }
    
    #brand .brand-main .brand-items .div-2 {
        display: flex;
        margin-top: -30px;
    }
    
    #brand .brand-main .item-5 .div-1 {
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
        margin-top: -30px;
    }

    .item-one img {
        width: 100%;
    }

    /* about-our-service */

    #about-our-service {
        height: auto;
    }

    #about-our-service h2 {
        width: 80%;
        margin-top: 30px;
    }

    #about-our-service .base .two-arrows {
        padding: 0;
    }

    #about-our-service .container {
        column-gap: 20px;
        /* background-color: red; */
        margin-top: -20px;
        width: 80%;
    }
    
    #about-our-service .container .left {
        height: 450px;
    }
    
    #about-our-service .container .left .top {
        display: flex;
        gap: 10px;
        padding-right: 85px;
        /* padding-left: 100px; */
        justify-content: center;

    }
    
    #about-our-service .container .left .top .right-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #about-our-service .container .left .top .right-content h5 {
        font-weight: 600;
    }
    
    #about-our-service .container .left .top .right-content h6 {
        color: #939191;
    }
    
    #about-our-service .container .left .bottom {
        width: 80%;
        margin-top: 20px;
        /* padding-right: 50px; */
    }
    
    #about-our-service .container .left .bottom h5 {
        font-weight: 600;
        line-height: 40px;
        font-size: 18px;
    }
    
    #about-our-service .base {
        display: flex;
        margin-bottom: 30px;
        padding-right: 65px;
    }
    
    #about-our-service .base .scroll {
        display: flex;
        margin-top: 30px;
        gap: 10px;
        padding: 0 0 0 70px;
    }
    
    #about-our-service .base .scroll .scroll-1 {
        height: 3px;
        width: 25px;
        background-color: #939191;
    }
    
    #about-our-service .base .scroll .scroll-3 {
        background-color: #FF6433;
    }
    
    #about-our-service .base .two-arrows {
        display: none;
        padding-left: 95%;
        padding-top: 10px;
    }
    
    #about-our-service .base .two-arrows .arrow-1 {
        background-color: #ffffff;
        border-radius: 50%;
        padding: 8px 10px;
        font-size: 15px;
    }
    
    #about-our-service .base .two-arrows .arrow-2 {
        background-color: #000000;
    }

    /* questions */

    #questions {
        height: auto;
    }

    #questions h2 {
        margin-top: 30px;
    }

    #questions .box {
        margin-bottom: 30px;
    }

    #questions .box .box-1 .box-row h5 {
        font-weight: 600;
        font-size: 18px;
    }
    
    #questions .box .box-1 h6 {
        font-size: 12px;
    }
    
    /* footer-section */

    #footer-section {
        height: auto;
        background-color: #222020;
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }

    #footer-section .first-row {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding-left: 80%; */
        width: 100%;
        padding-left: 65px;
    }

    #footer-section .first-row .container .left h2 {
        width: 100%;
    }

    #footer-section .second-row {
        display: none;
    }

    #footer-section .second-row .base-footer {
        display: flex;
        /* flex-direction: column; */
        width: 100%;
    }

    #footer-section .second-row .base-footer .logo img {
        width: 40%;
    }

    #footer-section .second-row .base-footer .copyright {
        /* padding-right: 0; */
        /* font-size: 12; */
    }
  }

/* responsiveness for mobile */
@media screen and (max-width: 425px) {

    /* global */
    .parent-flex {
      height: auto;
    }
  
    main .container {
        flex-direction: column-reverse;

    }
    
    .container {
        width: 100%;
        padding: 20px 10px;
        row-gap: 20px;
        height: auto;
        flex-direction: column-reverse;
        padding: 0 10px;
    }

    .left,
    .right {
        width: 100%;
    }

    .btn button {
        padding: 2px 10px;
        margin-top: 15px;
        font-size: 10px;
    }
    /* end of global styling */
  
    header {
      position: static;
    }
  
    .header-container {
      width: 100%;
      padding: 10px;
      padding-left: 40px;
      flex-direction: column;
    }

    .header-container .logo img {
        width: 60%;
    }

    .header-container .right-contact {
        padding-right: 50px;
    }

    .header-container .right-contact .icon {
        font-size: 12px;
        padding: 12px;
    }
  
    header h1 {
      font-size: 18px;
    }
  
    nav {
      flex-direction: column;
    }
  
    nav ul {
      column-gap: 20px;
      border: none;
    }

    nav ul li {
      font-size: 12px;
    }
  
    nav .right-contact .right-contact-icon {
      width: 20px;
      height: 20px;
    }
  
    nav .right-contact .right-contact-icon .icon {
      font-size: 12px;
    }
  
    nav .right-contact .right-contact-text h5 {
      font-size: 12px;
    }
  
    main {
        position: relative;
    }
    
    main .container .right-img {
        height: 70vh;
    }

    main .container .main-left {
        position: absolute;
        z-index: 100;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        width: 95%;
        padding: 0 20px;
    }

    main .container .main-left .content {
        margin-top: -30px;
    }

    main .container .main-left .content h1 {
        font-size: 35px;
        color: #ffffff;
        text-align: left;
        line-height: 50px;
    }

    main .container .time-left .time-right-up {
        color: #ffffff;

    }

    main .container .time-left .time-right-down {
        color: #ffffff;
    }

    main .container .right-img .right-img-all {
        /* background-color: red; */
        display: none;
    }

    main .container .right-img .right-img-down {
        display: none;
    }
  
    main .container .right-img .rating {
      right: 0%;
    }

    /* car servicing */

    #car-servicing .container {
        flex-direction: column;
    }

    #car-servicing .container .left h1 {
        font-size: 30px;
        width: 100%;
        /* text-align: center; */
        line-height: 50px;
        margin-top: 20px;
    }

    #car-servicing .container .left .service-row-1 .service-left .service-left-left .service-left-left-icon {
        font-size: 15px;
        padding: 15px;
        margin-top: -20px;
    }

    #car-servicing .container .left .service-row-1 .service-left .service-left-left-description h4 {
        font-size: 15px;
        margin-top: -20px;
    }

    #car-servicing .container .left .service-row-1 .service-left .service-left-left-description h5 {
        width: 100%;
        font-size: 12px;
    } 

    #car-servicing .container .left .service-row-2 .service-left .service-left-left-description h5 {
        width: 100%;
        font-size: 12px;
    }

    #car-servicing .container .left .service-row-2 .know-more {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: -20px;
        padding-left: 40px;
    }

    #car-servicing .container .left .service-row-2 .know-more .know-more-left h5 {
        font-size: 12px;
    }

    #car-servicing .container .right h2 {
        font-size: 20px;
        /* text-align: center; */
        width: 100%;
        margin-top: -30px;
    }

    #car-servicing .container .right form {
        margin-top: -20px;
    }

    #car-servicing .container .right input {
        width: 100%;
    }

    #car-servicing .container .right .btn {
        /* justify-content: center; */
        align-items: center;
        margin-top: -10px;
        margin-bottom: 20px;
    }

    /* get-a-quote */

    #get-a-quote {
        height: auto;
    }

    #get-a-quote .container {
        flex-direction: column;
        width: 100%;
    }

    
    #get-a-quote .container .left {
        display: flex;
    }
    
    #get-a-quote .container .left h1 {
        font-size: 30px;
        width: 80%;
        text-align: left;
        line-height: 50px;
        margin-top: 20px;
    }
    
    #get-a-quote .container .left h5 {
        font-size: 12px;
        width: 100%;
        text-align: left;
    }
    
    #get-a-quote .container .btn button {
        padding: 2px 10px;
        margin-top: 15px;
        font-size: 10px;
    }
    #get-a-quote .container .right {
        width: 100%;
        padding-left: 0;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #get-a-quote .container .right .row-1 {
        gap: 0;
    }

    .item-2 {
        padding: 10px 0px 10px 20px;
    }    

    #get-a-quote .container .right .row-1 .items .item-1 img {
        width: 70%;
    }

    #get-a-quote .container .right .row-1 .items .item-2 img {
        height: 1px;
    }

    #get-a-quote .container .right .content h3 {
        font-size: 15px;
    }

    #get-a-quote .container .right .content h5 {
        width: 100%;
        font-size: 12px;
        line-height: 30px;
    }

    #get-a-quote .container .right .row-1 .items .item-2 img {
        height: 55px;
    }

    .bottom {
        margin-bottom: 20px;
    }

    /* what we offer */

    #what-we-offer .container .contents h5 {
        font-size: 12px;
        margin-top: 20px;
    }

    #what-we-offer .container .offer h1 {
        font-size: 30px;
        line-height: 50px;
        width: 100%;
    }

    #what-we-offer .container .contents .what-we-offer-cards {
        gap: 5px;
    }

    #what-we-offer .container .contents .what-we-offer-cards .card {
        background-color: white;
        height: 100px;
        width: 160px;
    }

    #what-we-offer .container .what-we-offer-cards .card h4 {
        font-size: 12px;
    }

    #what-we-offer .learn {
        margin: 20px 0;
        padding: 0;
    }
  
    /* get in touch */
  
    #get-in-touch {
      height: auto;
    }
  
    #get-in-touch .first-row {
      flex-direction: column;
      height: auto;
    }
  
    #get-in-touch .first-row .left-car {
      width: 100%;
    }

    #get-in-touch .first-row .left-car .left-car-card {
        width: 70%;
        padding: 10px;
    }

    #get-in-touch .first-row .left-car .left-car-card .content h2 {
        font-size: 25px;
        width: 100%;
    }
  
    #get-in-touch .first-row .right-car {
      height: 30vh;
      width: 100%;
    }
  
    #get-in-touch .second-row {
        display: flex;
        height: auto;
    }
    
    #get-in-touch .second-row .container {
        width: 100%;
        margin-bottom: 30px;
    }

    #get-in-touch .second-row .container .professional {
        display: flex;
        column-gap: 30px;
    }

    #get-in-touch .second-row .container .customer {
        display: flex;
        column-gap: 30px;
    }
  
    #get-in-touch .second-row .container .one {
        text-align: center;
    }
  
    #get-in-touch .second-row .container .one h4 {
        font-size: 15px;
    }
    
    #get-in-touch .second-row .container .one h1 {
        font-size: 20px;
    }

    /* brand */

    #brand {
        height: auto;
    }

    #brand h2 {
        margin-top: 20px;
    }
      
    #brand .brand-main {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    
    #brand .brand-main .brand-items {
        display: flex;
        flex-direction: column;
    }
    
    #brand .brand-main .brand-items .div-1 {
        display: flex;
        margin-top: -30px;
    }
    
    #brand .brand-main .brand-items .div-2 {
        display: flex;
        margin-top: -30px;
    }
    
    #brand .brand-main .item-5 .div-1 {
        display: flex;
        flex-direction: row;
    }

    .item-one img {
        width: 70%;
    }

    /* about-our-service */

    #about-our-service {
        height: auto;
    }

    #about-our-service h2 {
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    #about-our-service .container {
        column-gap: 20px;
        /* background-color: red; */
        margin-top: -20px;
        justify-content: center;
        align-items: center;
    }
    
    #about-our-service .container .left {
        height: 350px;
        /* background-color: aqua; */
        width: 80%;
    }
    
    #about-our-service .container .left .top {
        display: flex;
        gap: 10px;
        padding-right: 80px;
        margin-top: 30px;
        justify-content: center;
    }
    
    #about-our-service .container .left .top .right-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #about-our-service .container .left .top .right-content h5 {
        font-weight: 600;
    }
    
    #about-our-service .container .left .top .right-content h6 {
        color: #939191;
    }
    
    #about-our-service .container .left .bottom {
        width: 80%;
        margin-top: 20px;
        /* padding-right: 50px; */
    }
    
    #about-our-service .container .left .bottom h5 {
        font-weight: 600;
        line-height: 40px;
        font-size: 15px;
    }
    
    #about-our-service .base {
        display: flex;
        margin-bottom: 30px;
        padding-right: 65px;
    }
    
    #about-our-service .base .scroll {
        display: flex;
        margin-top: 30px;
        gap: 10px;
        padding: 0 0 0 70px;
    }
    
    #about-our-service .base .scroll .scroll-1 {
        height: 3px;
        width: 25px;
        background-color: #939191;
    }
    
    #about-our-service .base .scroll .scroll-3 {
        background-color: #FF6433;
    }
    
    #about-our-service .base .two-arrows {
        display: none;
        padding-left: 18%;
        padding-top: 10px;
    }
    
    #about-our-service .base .two-arrows .arrow-1 {
        background-color: #ffffff;
        border-radius: 50%;
        padding: 8px 10px;
        font-size: 15px;
    }
    
    #about-our-service .base .two-arrows .arrow-2 {
        background-color: #000000;
    }

    /* questions */

    #questions {
        height: auto;
    }

    #questions h2 {
        margin-top: 30px;
    }

    #questions .box {
        margin-bottom: 30px;
    }

    #questions .box .box-1 {
        height: 200px;
        width: 80%;
        background-color: #ffffff;
        padding: 25px;
    }
    
    #questions .box .box-1 .box-row h5 {
        font-size: 15px;
    }
    
    #questions .box .box-1 h6 {
        font-size: 12px;
        width: 100%;
    }
    
    #questions .box .box-2 {
        height: 90px;
        width: 80%;
        background-color: #ffffff;
        padding: 25px;
    }

    .car-repair {
        width: 80%;
    }

    /* footer-section */

    #footer-section {
        background-color: #222020;
    }

    #footer-section .first-row {
        margin-top: 30px;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #footer-section .first-row .container {
        display: flex;
        flex-direction: column;
        margin-top: 30px;    
    }

    #footer-section .first-row .container .left {
    }

    #footer-section .first-row .container .left h2 {
        width: 100%;
        font-size: 25px;
    }

    #footer-section .first-row .container .left .media {
        margin-top: 30px;
    }

    #footer-section .first-row .container .right {
    }

    #footer-section .first-row .container .right h5 {
        margin-bottom: 20px;
        font-size: 15px;
    }

    #footer-section .first-row .container .right h6 {
        font-size: 12px;
        margin-bottom: 5px;
    }

    #footer-section .second-row {
        display: flex;
    }

    #footer-section .second-row .base-footer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #footer-section .second-row .base-footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #footer-section .second-row .base-footer .logo img {
        width: 60%;
    }

    #footer-section .second-row .base-footer .logo nav ul li h5 {
        font-size: 12px;
    }

    #footer-section .second-row .base-footer .copyright {
        padding-right: 35px;
        font-size: 12px;
    }

  }
  

